.img {
    text-align: center
}

.intro {
    background-color: darkblue;
}


img {
    width: 300px;
}

h1, h2 {
    text-align: center;
    color: aliceblue
}

footer {
    background-color: darkblue;
}

p {
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding: 10px;
    border: 2px;
}



table {
    width: 1000px;
    background-color: cornflowerblue;
}