img {
    height: 200px
}

body {
    background-color: cornflowerblue;
    color: darkblue;
}

footer {
    background-color: darkblue;
    color: aliceblue;
}

head {
    background-color: blueviolet;
}