.divimg {
    text-align: center;
}

.intro {
    background-color: darkblue;
}


.mainimg {
    width: 300px;
}

h1, h2 {
    text-align: center;
    color: aliceblue
}

footer {
    background-color: darkblue;
}

p {
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
}





.maintable {
    width: 1000px;
    background-color: cornflowerblue;
}

table {
    border: 0;
    padding: 0;
}
td{
    border: 0;
    padding: 0;
}

img{
    border: 0;
    padding: 0;
}